version: 2.1

jobs:
    build:
        docker:
            - image: docker:stable-git

        steps:
            - checkout
            - setup_remote_docker
            - run:
                name: Build OpenZeppelin
                command: docker build -t rsksmart/openzeppelin . -f docker/Dockerfile
            - run:
                name: Build RSKj
                command: docker build -t rsksmart/rskj https://github.com/rsksmart/rskj.git -f - < docker/Dockerfile-rskj
            - run:
                name: Run OpenZeppelin tests on RSKj
                command: |
                    docker run -d --name rskj -e "miner.client.autoMine=true" rsksmart/rskj --regtest
                    docker run --name openzeppelin --network container:rskj rsksmart/openzeppelin npm test
                    mkdir ~/Results
                    mkdir ~/Results/junit
                    docker cp openzeppelin:/openzeppelin/test-results.xml ~/Results/junit/test-results.xml
            
            - store_test_results:
                path: ~/Results
                
            - store_artifacts:
                path: ~/Results/junit
                destination: ~/Results/junit
